html,body {
  font-family: arial;
  font-size: 1.1em;
}

.container {
  position: relative;
  margin: auto;
  width: 800px;
}

.heading {
  font-weight: bold;
  font-size: 2em;
  margin: 1em 0;
}

.heading2 {
  font-weight: bold;
  font-size: 1.5em;
  margin: .5em 0;
}

input,textarea {
  font-size: 1.1em;
}

.offscreen {
  top: -1000px;
  font-size: 1px;
}

#videoplayer {
  text-align: center;
  position: relative;
  top: -100px;
}

.error {
  color: darkred;
}

iframe {
  border-width: 0;
}

.backgroundWrapper {
  position: relative;
}

.hidden {
  display: none;
}

#iFrameBackground {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 330px;
  height: 425px;
  top: 55px;
  background: #949494;
  z-index: -1;
}
#accessibilitybanner {
  width: 857px;
  height: 207px;
  background-image: url(pics/accessibilityoverviewbanner.png);
}

h1 {
  font-size: 3.1em;
  position: absolute;
  left: 85px;
  top: 37px;
  -webkit-text-stroke: white 2px;
}

@media (min-width: 450px) {
  nav ul {
    list-style-position: inside;
  }

  nav li {
    display: inline-block;
    margin-right: 2rem;
    list-style-type: none;
  }
}